:root {
  --orange: #f57b51;
  --yellow: #fbbc58;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
.btn-orange {
  color: #fff;
  background-color: var(--orange);
  border-color: var(--orange);
}
.btn-black {
  color: #fff;
  background-color: black;
  border-color: black;
}
.navbar-orange .navbar-brand,
.navbar-orange .navbar-nav .nav-link {
  color: var(--orange);
}

.text-orange {
  color: var(--orange);
}

.bg-orange {
  background: var(--orange) !important;
}
.vh-md-100 {
  height: unset;
}
.vh-25 {
  height: 25vh;
}

h1 {
  font-weight: bold;
}

label {
  font-weight: bold;
}
